<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Tortoise</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/882/882869.png" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- Custom styles for this template -->
    <link href="../static/template.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <span class="navbar-brand mx-auto">Tortoise</span>
    </div>
</nav>

<main role="main" class="container col-6">

    <br/>
    <form enctype="multipart/form-data" id="mail-form" action="/" method="POST" novalidate>
        <div class="row mt-3"></div>

        <div>
            <div class="form-row">
                <div class="form-group required col-md-6">
                    <label class="font-weight-bold">From</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-grey"><i class="fa-solid fa-envelope"></i></span>
                        </div>
                        <input type="email" class="form-control" id="customSenderAddr" name="sender-addr"
                                {% if request.form.get('sender-addr') != None %}
                               value="{{ request.form.get('sender-addr') }}"  {% endif %} required>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button"
                                    onclick="generateRandomEmailAddress()">
                                <i class="fa-solid fa-rotate-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group required col-md-6">
                    <label class="font-weight-bold">As</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-grey"><i class="fa-solid fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" id="customSenderName" name="sender-name"
                                {% if request.form.get('sender-name') != None %}
                               value="{{ request.form.get('sender-name') }}" {% endif %} required>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" onclick="generateRandomName()">
                                <i class="fa-solid fa-rotate-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group required col-md-6">
                    <label class="font-weight-bold">To</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-grey"><i class="fa-solid fa-user-group"></i></span>
                        </div>
                        <input type="text" class="form-control" name="receiver-addr"
                                {% if request.form.get('receiver-addr') != None %}
                               value="{{ request.form.get('receiver-addr') }}" {% endif %} required/>
                    </div>
                </div>
                <div class="form-group required col-md-6">
                    <label class="font-weight-bold">Subject</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-grey"><i class="fa-solid fa-envelope-open-text"></i></span>
                        </div>
                        <input type="text" class="form-control" name="email-subject"
                                {% if request.form.get('email-subject') != None %}
                               value="{{ request.form.get('email-subject') }}" {% endif %}
                               required/>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for timestamp"
                                       name="email-timestamp"
                                        {% if request.form.get('email-timestamp') == 'on' %}
                                       checked {% endif %}>&nbsp;Timestamp
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">Cc</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-grey"><i class="fa-solid fa-people-group"></i></span>
                        </div>
                        <input type="email" class="form-control" name="email-cc"
                                {% if request.form.get('email-cc') != None %}
                               value="{{ request.form.get('email-cc') }}" {% endif %}/>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">Bcc</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-grey"><i class="fa-solid fa-people-group"></i></span>
                        </div>
                        <input type="email" class="form-control" name="email-bcc"
                                {% if request.form.get('email-bcc') != None %}
                               value="{{ request.form.get('email-bcc') }}" {% endif %}/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="font-weight-bold">Headers</label>
                {% if not request.form.getlist('header-name') %}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Header</span>
                        </div>
                        <input type="text" class="form-control" name="header-name">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Value</span>
                        </div>
                        <input type="text" class="form-control" name="header-value">
                        <button type="button" class="btn btn-success" id="emailHeader"
                                onclick="addMoreHeader()">
                            <i class="fa-regular fa-plus"></i>
                        </button>
                    </div>
                {% endif %}

                {% if request.form.getlist('header-name') %}
                    {% set headers = request.form.getlist('header-name') %}
                    {% set values = request.form.getlist('header-value') %}
                    {% for idx in headers %}
                        {% set header = headers[loop.index0] %}
                        {% set value = values[loop.index0] %}
                        {% if loop.first %}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Header</span>
                                </div>
                                <input type="text" class="form-control" name="header-name" value="{{ header }}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Value</span>
                                </div>
                                <input type="text" class="form-control" name="header-value" value="{{ value }}">
                                <button type="button" class="btn btn-success" id="emailHeader"
                                        onclick="addMoreHeader()">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>

                        {% else %}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Header</span>
                                </div>
                                <input type="text" class="form-control" name="header-name" value="{{ header }}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Value</span>
                                </div>
                                <input type="text" class="form-control" name="header-value" value="{{ value }}">
                                <button type="button" class="btn btn-danger" onclick="removeHeader(this)">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>


            <div class="form-group required">
                <label class="font-weight-bold" for="formControlTextarea">Body&nbsp</label>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="test-type" value="custom" class="custom-control-input"
                           id="radioInline1"
                           checked>
                    <label class="custom-control-label" for="radioInline1">Custom</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="test-type" value="predefined" class="custom-control-input"
                           id="radioInline2"
                           {% if case=="predefined" or request.form.get('test-type') == 'predefined' %}checked{% endif %}>
                    <label class="custom-control-label" for="radioInline2">Predefined</label>
                </div>
                <div id="custom-case" class="textarea-container"
                     {% if case=="predefined" or request.form.get('test-type') == 'predefined' %}style="display:none;" {% endif %}>
                    <textarea class="form-control" id="formControlTextarea" rows="5"
                              name="email-body">{%- if request.form.get('email-body') != None -%}
                        {{ request.form.get('email-body') }}{%- endif -%}</textarea>
                    <button id="preview-email" type="button">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
                <div id="predefined-case"
                     {% if case=="predefined" or request.form.get('test-type') == 'predefined' %}style="display:inline;"
                     {% else %}style="display:none;" {% endif %}>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Google sheets ID</span>
                        </div>
                        <input type="text" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" disabled>Confirm</button>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect">Sheet name</label>
                        </div>
                        <select class="selectpicker form-control show-tick" title="Choose one of the sheets..."
                                data-width="auto" id="inputGroupSelect" name="sheet-name">
                            {% for sheet in sheets %}
                                {% if sheet == request.form.get('sheet-name') %}
                                    <option value="{{ sheet }}" selected>{{ sheet }}</option>
                                {% else %}
                                    <option value="{{ sheet }}">{{ sheet }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <p class="font-weight-bold" style="margin-bottom:0.5em;">Attachments</p>
            <div class="custom-file">
                <div class="input-group">
                    <div class="input-group-prepend" style="position:relative; z-index:1">
                        <span class="input-group-text bg-grey"><i class="fa-solid fa-paperclip"></i></span>
                    </div>
                    <input type="file" class="form-control custom-file-input" id="customFile" name="email-attachment"
                           multiple>
                    <label class="custom-file-label" for="customFile" style="position:absolute; z-index:0">&emsp;&nbsp;&emsp;Choose
                        one or multiple files</label>
                </div>
            </div>
        </div>

        <br/>

        <div>
            <script>
                function toggle() {
                    $('#loader').show();
                }
            </script>
            <button class="btn btn-primary" type="submit" name="send-mails" value="Send Mail" onclick="toggle()"><i
                    class="fa-solid fa-paper-plane"></i>&ensp;Send Mail
            </button>
            <button class="btn btn-warning" type="submit" name="clear" value="Clear All" onclick="toggle()"><i
                    class="fa-solid fa-rotate-left"></i>&ensp;Clear All
            </button>
            <div class="spinner-border text-info" role="status" id="loader" style="display:none"></div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}"
                         style="display:inline-block;"> {{ message|capitalize }} </div>
                {% endfor %}
            {% endwith %}
        </div>
    </form>
    <div class="row mt-3"></div>

    <dialog id="dialog">
        <div id="email-previewer"></div>
        <button id="close-dialog">Close</button>
    </dialog>

</main><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js"
        integrity="sha256-QHdJObhDO++VITP6S4tMlDHRWMaUOk+s/xWIRgF/YY0=" crossorigin="anonymous"></script>
<!-- Retain last submitted value for text input -->
<script>
    function addMoreHeader() {
        let html = `<div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Header</span>
                    </div>
                    <input type="text" class="form-control" name="header-name">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Value</span>
                    </div>
                    <input type="text" class="form-control" name="header-value">
                    <button type="button" class="btn btn-danger" onclick="removeHeader(this)">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                </div>`;
        $('#emailHeader').parent().append(html);
    }

    function removeHeader(ele) {
        ele.parentNode.remove();
    }
</script>
<script>
    function generateRandomName() {
        $('#customSenderName').val(faker.name.findName()); // Caitlyn Kerluke
    }

    function generateRandomEmailAddress() {
        $('#customSenderAddr').val(faker.internet.userName() + "@" + faker.internet.domainName()); // Rusty@arne.info
    }

    function generateRandomParagraph() {
        $('#formControlTextarea').val(faker.lorem.paragraphs()); // Lorem
    }
</script>
<script>
    document.getElementById('preview-email').addEventListener('click', () => {
        document.getElementById('dialog').showModal();
        document.getElementById('email-previewer').innerHTML = $('textarea#formControlTextarea').val();
    });

    document.getElementById('close-dialog').addEventListener('click', () => {
        document.getElementById('dialog').close();
    });
</script>
<script>
    $('.custom-file-input').change(function (e) {
        let files = [];
        for (let i = 0; i < $(this)[0].files.length; i++) {
            files.push($(this)[0].files[i].name);
        }
        $(this).next('.custom-file-label').html(files.join(', '));
    });
</script>
<script>
    $(document).ready(function () {
        const customCase = $('#custom-case');
        const predefinedCase = $('#predefined-case');
        $('input[type="radio"]').click(function () {
            const val = $(this).attr("value");
            switch (val) {
                case 'custom':
                    customCase.show();
                    predefinedCase.hide();
                    break;
                case 'predefined':
                    customCase.hide();
                    predefinedCase.show();
                    break;
                default:
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $(".alert-success, .alert-danger").fadeTo(2000, 500).slideUp(500, function () {
            $(".alert-success, .alert-danger").slideUp(500);
        });
    });
</script>

<!-- Latest compiled and minified JavaScript -->
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>

</body>

</html>